################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BlingRus.Web/.vs
/BlingRus.Web/BlingRus.Web/bin
/BlingRus.Web/BlingRus.Web/obj
/BlingRus.Domain/obj
/BlingRus.Domain/bin
/BlingRus.Domain.Tests/bin
/BlingRus.Domain.Tests/obj
/BlingRus.Web/BlingRus.Web/logs
