@{
    ViewData["Title"] = "Välkommen";
    ViewBag.FullPageContent = true;
}

<div class="landing">
    <a asp-action="Index" asp-controller="Store">
        <img src="/img/BlingRUs_FrontLogoTagline.png" class="img-responsive center-block"
             alt="Bling R Us: Why compromize when you can personalize?" />
    </a>
</div>