@{
    ViewData["Title"] = "Faq";
}

<div class="well">
    <h2>Faq</h2>

    <h3>Size guide</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Size</th>
                <td>Rings</td>
                <td>Bracelets*</td>
                <td>Necklaces</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Small</td>
                <td>16.5 mm</td>
                <td>16 cm</td>
                <td>40 cm</td>
            </tr>
            <tr>
                <td>Medium</td>
                <td>18 mm</td>
                <td>18 cm</td>
                <td>52 cm</td>
            </tr>
            <tr>
                <td>Large</td>
                <td>20.5 mm</td>
                <td>20 cm</td>
                <td>64 cm</td>
            </tr>
            <tr>
                <td>Humongous</td>
                <td>23 mm</td>
                <td>22 cm</td>
                <td>76 cm</td>
            </tr>
        </tbody>
    </table>
    <p>* For a comfortable fit, the bracelet should be about 2 cm wider than your actual wrist</p>

    <h3>Terms and prices</h3>
    <h4>Price</h4>
    <ul class="list-unstyled">
        <li>All prices are shown excluding VAT(25%) and shipping.</li>
        <li>Orders with more than 4 items get a 10% discount</li>
        <li>Every 5th item is free of charge</li>
    </ul>

    <h4>Shipping</h4>
    <ul class="list-unstyled">
        <li>36 SEK/item</li>
        <li>Free shipping for orders in excess of 250 SEK</li>
    </ul>

    <h4>Engraving</h4>
    <p>Engraving can be performed only in the font and style shown on the images**</p>
    <ul>
        <li> 1-10 characters - free of charge</li>
        <li>11-30 characters - 50 SEK </li>
        <li>More than 30 characters - 50 SEK per 10 characters***</li>
        <li>Multiple lines - 25 SEK per line****</li>
    </ul>
    <p>Note that no refunds can be made for items with custom engraving.</p>


    <p>* Companies that want to place a larger order, please contact Gunde directly to discuss details.</p>
    <p>** If you have special requests, such as alternative fonts, symbols or imagery, please contact Gunde directly to discuss options.</p>
    <p>*** We use a state of the art laser engraver. Since the process allows multiple items to be engraved with the same text with ease, the extra cost is only charged once when ordering multiple items with the same text.</p>
    <p>**** Does not apply to "The Twin" that comes with 2 lines of text.</p>

    @*<h4>Payment terms</h3>
        <p>Beställningar upp till 2000 kr kan göras mot följande betalsätt:</p>
        <ul>
            <li>Klarna Checkout: Där du kan välja på faktura, delbetalning eller kortbetalning.</li>
            <li>Förskottsinbetala till vårt bankgirokonto (kontonr i beställningsbekräftelsen). <br />Glöm inte att ange ordernummer. Som mottagare anges BlingRUs</li>
        </ul>
        <p>Beställningar över 2000kr sker alltid mot förskottsbetalning.</p>*@

    <h4>Delivery terms</h4>
    <p>Normal orders are shipped and processed within one week of payment.</p>
    <p>All deliveries can be tracked but unfortunately we cannot assume responsibility for the shipping provider.</p>

    <h4>Refunds</h4>
    <p>
        Any jewelry with custom engravings are unfortunately not eligible for refunds since the engraving prevents us
        from restoring such items to a sellable state.
    </p>

    <h4>Returns</h4>
    <p>Returns of defective goods is free of charge. No other returns are accepted.</p>
    <p>Contact Gunde and describe the item, any defects and your order number. We will send you a return slip with instructions on how to package and return the goods to us.</p>
    <p>We can offer a full refund or a new item according to the original order. Please state clearly which option is acceptable to you.</p>
    <p>Returns must be sent in a trackable manner. Please do not send us returns without using the slip provided by us. We will not accept any responsibility for lost items if sent in any other manner.</p>
</div>