@{
    ViewData["Title"] = "Vanliga frågor";
}
<div class="well">
    <h2>Vanliga frågor</h2>
    <h3>Storleksguide</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Varans storlek</th>
                <td>Ringar</td>
                <td>Armband*</td>
                <td>Halssmycken</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Small</td>
                <td>16.5 mm</td>
                <td>16 cm</td>
                <td>40 cm</td>
            </tr>
            <tr>
                <td>Medium</td>
                <td>18 mm</td>
                <td>18 cm</td>
                <td>52 cm</td>
            </tr>
            <tr>
                <td>Large</td>
                <td>20.5 mm</td>
                <td>20 cm</td>
                <td>64 cm</td>
            </tr>
            <tr>
                <td>X-Large</td>
                <td>23 mm</td>
                <td>22 cm</td>
                <td>76 cm</td>
            </tr>
        </tbody>
    </table>
    <p>* Armbandet bör vara cirka 2 cm större än ditt faktiska handledsmått</p>

    <h3>Köpvillkor och prissättning </h3>
    <h4>Pris</h4>
    <ul class="list-unstyled">
        <li>Alla priser är exklusive moms* och exklusive frakt. </li>
        <li>Varje smycke har ett enhetspris på 100 kr</li>
        <li>Beställningar på minst 500 kr erhåller en rabatt på 10 %</li>
        <li>Var femte smycke på köpet</li>
    </ul>

    <h4>Frakt</h4>
    <ul class="list-unstyled">
        <li>36:-/smycke</li>
        <li>Fraktfritt över 250 kr</li>
    </ul>

    <h4>Gravyr</h4>
    <p>Gravyr görs alltid i det typsnitt som syns på bilderna**</p>
    <ul>
        <li>1-10 tecken ingår utan extra kostnad</li>
        <li>11+ tecken kostar 50 kr</li>
    </ul>
    <p>Observera att vi bara lämnar kvalitetsgaranti på gravyr av halsband och armband.</p>

    <p>Ringar graveras på kundens egen risk på grund av material- och storleksbegränsingar.</p>
    <p>* Är du företag och vill göra en större beställning? Kontakta Gunde för prisförslag och specialhantering.</p>
    <p>** Specialbeställningar med alternativt typsnitt eller symboler? Kontakta Gunde för prisförslag och specialhantering.</p>

    <h4>Köpvillkor</h4>
    <p>Beställningar upp till 2000 kr kan göras mot följande betalsätt:</p>
    <ul>
        <li>Klarna Checkout: Där du kan välja på faktura, delbetalning eller kortbetalning.</li>
        <li>Förskottsinbetala till vårt bankgirokonto (kontonr i beställningsbekräftelsen). <br />Glöm inte att ange ordernummer. Som mottagare anges BlingRUs</li>
    </ul>
    <p>Beställningar över 2000kr sker alltid mot förskottsbetalning.</p>

    <h4>Leveranstid</h4>
    <p>Normalt (ej specialbeställningar) är leveranstiden 1 vecka från beställning till att varan lämnar oss.</p>
    <p>Alla leveranser sker spårbart men vi kan tyvärr inte ansvara för fraktbolagets leveranstider.</p>

    <h4>Ångerrätt</h4>
    <p>
        Då alla smycken tillverkas med egenvald text kan vi tyvärr inte lämna ångerrätt då vi inte har möjlighet att
        slipa bort gravyren och återställa varan i säljbart skick.
    </p>

    <h4>Returer</h4>
    <p>Returer av defekta varor görs kostnadsfritt. Inga övriga returer godtas (se ångerrätt).</p>
    <p>Kontakta Gunde och beskriv varan, felet och ordernummer. Avvakta returfraktsedel från oss och följ instruktionerna som medföljer.</p>
    <p>Vi kan erbjuda återbetalning eller nytt smycke enligt ordinarie beställning, var tydlig med vilket du önskar.</p>
    <p>Returer ska skickas spårbart. Vi ansvarar ej för försvunna returer.</p>
    <p>När du utnyttjat din ångerrätt ska du, sända eller lämna tillbaka varan till oss i oskadat skick.</p>
</div>