@{
    ViewData["Title"] = "About us";
}

<div class="well">
    <h2>About us</h2>
    <p>Bling-R-Us was founded in 2010 by Agneta and Gunde.</p>
    <p>
        Agneta has worked as a goldsmith since the 70s and has cooperated with several of Sweden's largest jewelry chain stores over the years.
        In 2008, Agneta and Gunde concluded that they wanted to create an alternative to the mass production offered by the larger companies
        and at the same time offer affordable quality jewelry to their customers.
        Their business has grown over the years but the production is still run from the same workshop with the same labor of love and of course with 100 % customer focus.
    </p>

    <h2>Contact us</h2>
    <p>We do not have a physical store but we're happy to answer to any questions you might have.</p>
    <p>
        Feel free to get in touch with us by e-mail:
        <ul class="list-unstyled">
            <li><a href="mailto:gunde@bling.r.us"><span class="glyphicon glyphicon-envelope"></span> Questions regarding ordering, returns, terms and conditions</a></li>
            <li><a href="mailto:agneta@bling.r.us"><span class="glyphicon glyphicon-envelope"></span> Questions regarding the production process, materials and special requests</a></li>
        </ul>
    </p>
</div>