@{
    ViewData["Title"] = "Om oss";
}

<div class="well">
    <h2>Om oss</h2>
    <p>Bling-R-Us skapades 2010 av Agneta och Gunde.</p>
    <p>
        Agneta har jobbat som guld- och silversmed sedan 1970-talet och har jobbat med många av Sveriges stora smyckeskedjor under åren.
        2008 träffades Agneta och Gunde och de konstaterade efter en tid att de ville se ett alternativ till kedjornas massproduktion
        men samtidigt erbjuda billiga kvalitetssmycken till kunderna.
        Verksamheten har vuxit under åren men produktionen sker fortfarande i samma lokal, med samma hantverksglädje och med 100 % kundfokus.
    </p>

    <h2>Kontakta oss</h2>
    <p>Vi har ingen fysisk butik men svarar med glädje på alla frågor du kan ha.</p>
    <p>
        Välkommen att kontakta oss via mail:
        <ul class="list-unstyled">
            <li><a href="mailto:gunde@bling.r.us"><span class="glyphicon glyphicon-envelope"></span> Frågor kring beställningar, leveranser, villkor och returer</a></li>
            <li><a href="mailto:agneta@bling.r.us"><span class="glyphicon glyphicon-envelope"></span> Frågor kring tillverkningsprocess, material och smakråd</a></li>
        </ul>
    </p>

    
</div>