@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="well">
    <h2>About us</h2>
    <p>Bling-R-Us was founded in 2010 by Agneta and Gunde.</p>
    <p>
        Agneta has worked as a goldsmith since the 70s and has cooperated with several of Sweden's largest jewelry chain stores over the years. 
        In 2008, Agneta and Gunde concluded that they wanted to create an alternative to the mass production as offered by the larger companies 
        and at the same time offer affordable quality jewelry to their customers.
        Their business has grown over the years but the production is still run from the same workshop with the same labor of love and of course with 100 % customer focus.
    </p>

    <h2>Contact us</h2>
    <p>We do not have a physical store but we're happy to answer to any questions you might have.</p>
    <p>
        Feel free to get in touch with us by e-mail:
        <ul class="list-unstyled">
            <li><a href="mailto:gunde@bling.r.us"><span class="glyphicon glyphicon-envelope"></span> Questions regarding ordering, returns, terms and conditions</a></li>
            <li><a href="mailto:agneta@bling.r.us"><span class="glyphicon glyphicon-envelope"></span> Questions regarding the production process, materials and special requests</a></li>
        </ul>
    </p>

    <h2>Size guide</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Size</th>
                <td>Rings</td>
                <td>Bracelets*</td>
                <td>Necklaces</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Small</td>
                <td>16.5 mm</td>
                <td>16 cm</td>
                <td>40 cm</td>
            </tr>
            <tr>
                <td>Medium</td>
                <td>18 mm</td>
                <td>18 cm</td>
                <td>52 cm</td>
            </tr>
            <tr>
                <td>Large</td>
                <td>20.5 mm</td>
                <td>20 cm</td>
                <td>64 cm</td>
            </tr>
            <tr>
                <td>Humongous</td>
                <td>23 mm</td>
                <td>22 cm</td>
                <td>76 cm</td>
            </tr>
        </tbody>
    </table>
    <p>* For a comfortable fit, the bracelet should be about 2 cm wider than your actual wrist</p>

    <h2>Terms and prices</h2>
    <h3>Price</h3>
    <ul class="list-unstyled">
        <li>All prices are shown excluding VAT and shipping.</li>
        <li>Orders in excess of 500 SEK get a 10% discount</li>
        <li>Every 5th item is free of charge</li>
    </ul>

    <h3>Shipping</h3>
    <ul class="list-unstyled">
        <li>36 SEK/item</li>
        <li>Free shipping for orders in excess of 250 SEK</li>
    </ul>

    <h3>Engraving</h3>
    <p>Engraving can be performed only in the font and style shown on the images**</p>
    <ul>
        <li>1-10 characters are free of charge</li>
        <li>11+ characters are 50 SEK</li>
    </ul>
    <p>Note that no refunds can be made for items with custom engraving.</p>

    <p>Rings are engraved at your own risk due to constraings on material and size.</p>
    <p>* Are you a company and want to place a larger order? Please contact Gunde directly to discuss details.</p>
    <p>** Got any special requests, such as alternative fonts, symbols or imagery? Please contact Gunde directly to discuss options.</p>

    @*<h3>Payment terms</h3>
    <p>Beställningar upp till 2000 kr kan göras mot följande betalsätt:</p>
    <ul>
        <li>Klarna Checkout: Där du kan välja på faktura, delbetalning eller kortbetalning.</li>
        <li>Förskottsinbetala till vårt bankgirokonto (kontonr i beställningsbekräftelsen). <br />Glöm inte att ange ordernummer. Som mottagare anges BlingRUs</li>
    </ul>
    <p>Beställningar över 2000kr sker alltid mot förskottsbetalning.</p>*@

    <h3>Delivery terms</h3>
    <p>Normal orders are shipped and processed within one week of payment.</p>
    <p>All deliveries can be tracked but unfortunately we cannot assume responsibility for the shipping provider.</p>

    <h3>Refunds</h3>
    <p>
        Any jewelry with custom engravings are unfortunately not eligible for refunds since the engraving prevents us
        from restoring such items to a sellable state.
    </p>

    <h3>Returns</h3>
    <p>Returns of defective goods is free of charge. No other returns are accepted.</p>
    <p>Contact Gunde and describe the item, any defects and your order number. We will send you a return slip with instructions on how to package and return the goods to us.</p>
    <p>We can offer a full refund or a new item according to the original order. Please state clearly which option is acceptable to you.</p>
    <p>Returns must be sent in a trackable manner. Please do not send us returns without using the slip provided by us. We will not accept any responsibility for lost items if sent in any other manner.</p>

</div>