@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="well">
    <h2>@Localizer["ThankYouForContactingUs"]</h2>
    
    <p>@Localizer["WeWillGetBackToYou"]</p>
</div>