@using Microsoft.AspNetCore.Mvc.Localization
@model Tuple<int?, decimal?>
@inject IViewLocalizer Localizer

<span class="badge">
    <span class="glyphicon glyphicon-shopping-cart"></span>
    <span id="cart-counter">@Model.Item1</span>
</span>
<span class="hidden-xs">@Localizer["Cart"]</span> (<span id="cart-cost">@Model.Item2?.ToString("0") SEK</span>)