/*  Mörkblå: rgb(25, 52, 90) 
    Mellanblå: rgb(42, 108, 193)
    Ljusblå: rgb(61, 138, 243)
    Gul: rgb(240, 159, 63)
    Gulvit: rgb(241, 242, 243)

*/

body {
    background-color: rgb(25, 52, 90);
    /*background-color: rgb(42, 108, 193);*/
    padding-bottom: 70px;
}

body.fullpage {
    padding: 0;
    background-color: rgb(255, 255, 255);
}

.landing {
    width: 100%;
}

.navbar-default {
    background-color: rgb(42, 108, 193);
    /*background-color: rgb(25, 52, 90);*/
}

.navbar-default .navbar-nav > li > a {
    color: rgb(240, 159, 63) !important;
}
/*.navbar-header {
    background-color: rgb(254, 254, 254) !important;
    Mörkblå: rgb(6, 81, 107)
    Gul: background-color: rgb(251, 176, 59);
}*/
.navbar {
    border: 0;
    font-size: 16px;
}

/*.navbar-nav > li > a {
    border-left: 1px solid rgba(255,255,255,0.1);
    border-right: 1px solid rgba(0,0,0,0.2);
    border-radius: 0;
}*/

.logo {
    background-color: rgb(255, 255, 255);
    color: rgb(240, 159, 63);
}

.logo div {
    width: 510px;
    height: 125px;
}

.logo h1 {
    font-weight: bold;
    font-size: 48px;
    float: left;
    vertical-align: middle;
    margin-top: 40px;
}

.nonempty-cart .badge {
    color: rgb(240, 159, 63);
}

#checkout-button {
    background-color: rgb(241, 242, 243);
}

.page-footer {
    background-color: rgb(42, 108, 193);
    color: rgb(240, 159, 63);
    border: 0;
}

.page-footer img {
    max-height: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

.store {
    margin-left: 15px;
    margin-right: 15px;
}

.store .list-group-item {
    background-color: rgb(241, 242, 243);
}

.order-contents {
    max-width: 1024px;
}

#preview > .modal-dialog {
    width: auto;
}