<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-timepicker/css/bootstrap-timepicker.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="navbar navbar-default">
        <div class="">
            <div class="navbar-header" style="width: 100%;" >
                <div class="navbar-brand" style="height: 125px;">
                    <img src="@Url.Content("~/img/BlingRUs_storre.png")" style="max-height: 100px" />
                </div>
            </div>
            <div class="navbar-menu">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Store" asp-action="Index">Butiken</a></li>
                    <li><a asp-controller="About" asp-action="Index">Om företaget</a></li>
                    <li><a asp-controller="About" asp-action="Contact">Kontakt</a></li>
                    <li class="hidden-xs">
                        <div class="input-group">
                            <a asp-controller="Store" asp-action="Checkout" class="btn btn-default navbar-btn"><i class="glyphicon glyphicon-shopping-cart"></i><span class="badge" id="cart-counter">0</span> Till kassan</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
